<!-- <p>
  booking works!
</p> -->
<header>
  <h3>  YOUR BOOKINGS</h3>
</header>

<br>
<div >
  <br>
<label class="qwe">Destination From</label>
<select class="form-control form-control-lg">
  <option></option>
  <option>HYDERABAD</option>
  <option>VIZAG</option>
  <option>TUNI</option>
  <option>CHENNAI</option>
  <option>BANGALORE</option>
  <option>TIRUPATHI</option>
  <option>KURNOOL</option>
  <option>.....</option>
 </select>
 <br>
 <br>
 <label class="qwe">Destination To</label>
 <select class="form-control">
  <option></option>
  <option>VIZAG</option>
  <option>TUNI</option>
  <option>HYDERABAD</option>
  <option>CHENNAI</option>
  <option>BANGALORE</option>
  <option>TIRUPATHI</option>
  <option>KURNOOL</option>
  <option>.....</option>
 </select>
</div>


<br>
<button type="SUBMIT" class="btn btn-primary">SUBMIT</button>
<img class="img-fluid max-width: 100% " src="assets/car.webp">