<!-- <p>
  customer works!
</p> -->

<div style="text-align: center;">
  <a class="nav-link active" routerLink='/profile'>  Profile</a>&nbsp;&nbsp;&nbsp;

  <a class="nav-link" routerLink='/history'> <i class="fa fa-history" aria-hidden="true"></i> Your Rides</a>&nbsp;&nbsp;&nbsp;

  <a class="nav-link" routerLink='/booking'>Book Now!</a>&nbsp;&nbsp;&nbsp;

  

  <a class="nav-link" routerLink = '/logout' (click)="logOut()"> LogOut</a>&nbsp;&nbsp;&nbsp;

 </div>

<br>


<router-outlet></router-outlet>
